{
		"username": "The username of your. With or without the #tag",
		"password": "The password of the bot. If you encrypt it before then set 'encrypted' to true.",
		"encrypted": false,
		"room": "*#aiotfm",
		"api_id": 0,
		"api_token": "Your api token. 'api_id' is your transformice id. You need them to get the keys from the API endpoint."
}
